[2012-12-28 04:28] ericclemmons opened #1 "Static File Support"
For easily supporting Github pages, the public folder should be able to have something like:

[code]

These would reference `<link src="build/css/my-project.css">` directly, but the HTML would have no need to be compiled.

Sure, something like [usemin](https://github.com/yeoman/grunt-usemin) may be helpful in this regard, but that would bypass the entire compilation process in grunt and introduce

[2012-12-29 22:50] ericclemmons opened #2 "Switch to Jade"
TJ Hollawaychuk finds EJS buggy and defaults to Jade for ExpressJS.

I think it's best to use the defaults of the library/tool authors rather than imposing a different requirement for my own convenience.

[2012-12-29 22:52] ericclemmons opened #3 "[RFC] Stable release"
Would like some feedback from @kwhitley on structure & the project in general.

Ideally would like to solve our initial "best practice" requirements for a project rather than recreating grunt files & express views over & over.

[2013-01-05 04:50] ericclemmons opened #5 "template.js"
Put them in `$templateCache` using this script:

[2013-01-07 17:21] ericclemmons opened #6 "Cleanup LESS + Bootstrap"
The views should not be using Bootstrap classes directly, nor should `app.less` be including the default styles.

Instead, the main stylesheet should be using mixins & perhaps copy/pasting the styling needed for nav bars & the like.

[2013-01-07 17:25] ericclemmons opened #7 "Test out ResponableCSS"
Let's see what it takes to compile SCSS and another framework.

[2013-01-07 18:23] ericclemmons opened #8 "Open should not happen automatically"
It's annoying as heck when `grunt server` opens window & a running server, and then you have to restart the server.

[2013-01-07 18:23] ericclemmons commented on #8
`watch` should call `express-server reload` instead of `server`

[2013-01-07 19:11] ericclemmons commented on #5
This should be turned into a `grunt-angular-template-to-js` NPM.

[2013-01-07 21:13] kwhitley opened #10 "express-server task does not appear to kill/restart node app properly"
Found by changing a registered route after the watch changes are enabled.  The watch task triggers, browser reload occurs as required, but the route is left unchanged.

Assuming this is because the original app is left running instead of killed/reloaded...

[2013-01-07 21:18] ericclemmons commented on #10
Right, this functionality isn't supported just yet, as restarting a node server vs. a built resource was considerably trickier :)

[2013-01-07 21:45] kwhitley commented on #10
Grrr.

[2013-01-08 00:46] ericclemmons commented on #1
Instead, there should be a new grunt module that can build a static version of the site, similar to my static homepage project, by scraping it with PhantomJS.  I don't think usemin actually makes sense for an express app.

[2013-01-08 05:16] ericclemmons commented on #2
@kwhitley Screw it.  Jade sucks, namely for debugging:

So, I'm going to use Handlebars instead:

To be honest, I'm not quite sure I like _any_ templating solutions outside of Angular.  Also, my opinion of using `usemin` may have changed a bit.  The fact of the matter is, you **will** have to hand-code your layout a bit to include the right CSS & JS.  As in, you may want to separate all of your JS

[2013-01-08 05:34] kwhitley commented on #2
No line numbers???

![jade](http://citynoise.org/upload/31181.jpg)

[2013-01-08 15:38] ericclemmons commented on #2
Maybe [Twig.js](https://github.com/justjohn/twig.js)?

[2013-01-08 15:45] kwhitley commented on #2
That's my vote - this was barely implemented last time I looked (no
blocks/include among other things), so JinJS was preferable, but it looks
like this has finally caught up (and is far easier to implement).

:+1:

On Tue, Jan 8, 2013 at 9:39 AM, Eric Clemmons notifications@github.comwrote:

[2013-01-08 16:17] ericclemmons commented on #10
I think I have this worked on... PR soon!

[2013-01-08 17:46] #2 closed, assigned to nobody

[2013-01-08 17:46] #10 closed, assigned to nobody

[2013-01-08 17:46] #3 closed, assigned to nobody

[2013-01-08 17:47] ericclemmons opened #16 "app.js should use express3 api & modular structure"
No more `app.configure`, though it exists for legacy purposes.

[2013-01-08 19:06] ericclemmons commented on #8
No longer necessary since #15.

[2013-01-08 19:06] #8 closed, assigned to nobody

[2013-01-08 19:30] #16 closed, assigned to ericclemmons

[2013-01-08 20:39] kwhitley opened #18 "HTML in public folder not accessible on existing browser port..."
Appears to be a content decoding issue - perhaps with express static or gzippo?

Only appears to affect the proxy port from grunt-reload.  Content length is zero on gzipped html for some reason (on proxy).

[2013-01-08 21:25] ericclemmons opened #19 "Use H5BP for Node"
See the latest code here, which _should_ work via `app.use(require('h5bp'))`.

The problem is NPM has a **10 month old version**:

I dunno if we can just do `*` rather than `0.0.2` and pull `master`, but the latest code _seems_ like it should work.

[2013-01-08 21:25] ericclemmons commented on #19
Also, another consideration is that perhaps we use the entirety of the source code, since it _is_ meant for modifications, at least on Apache, which would bypass all of these issues.

[2013-01-08 23:20] ericclemmons commented on #5
Package is complete!

[2013-01-09 18:42] kwhitley opened #21 "Debug toggle on production"
To allow non minified js/css files to be used for debugging...

**Syntax Suggestion**
`http://[route]?debug`

Also, add `grunt server:prod` that sets the environment to production and allow for minify task and pointing resources to minified versions (for production checking on dev)

[2013-01-09 21:05] kwhitley opened #22 "Create sub module structure for app"
Create lib/docs, etc.

[2013-01-09 21:31] #5 closed, assigned to nobody

[2013-01-10 03:54] #22 closed, assigned to nobody

[2013-01-11 10:41] seiffert opened #25 "Error during initial 'npm install'"
Hi,
I tried to setup genesis-skeleton but encountered an error during the initial npm install:

[code]

[2013-01-11 17:35] #21 closed, assigned to nobody

[2013-01-11 20:18] ericclemmons commented on #25
Can you run `bower install` && `./node_modules/.bin/grunt` separately?

[2013-01-11 21:17] seiffert commented on #25
yes, that made it work!

[2013-01-11 21:34] ericclemmons commented on #25
Try `grunt build` and let's see if it's something specific to that task.  I'm concerned that the two steps combined would have issues...

[2013-01-11 21:39] seiffert commented on #25
I executed `bower install`, `grunt`, `grunt server` (then killed it, to run: ), `grunt build`... everything looks fine!

[2013-01-11 21:55] ericclemmons commented on #25
Hmm... bizzarre!  I guess I'll close until someone else has the issue :)

[2013-01-11 21:55] #25 closed, assigned to nobody

[2013-01-14 16:56] ericclemmons opened #27 "[RFC] Angular Module Concatenation"
This is an issue affecting myself, @seiffert, & @kwhitley.

It seems the problem is that Angular sees the following as an error:

[code]

Because of this, we should take the lead from [angular-app](https://github.com/angular-app/angular-app/blob/master/client/src/app/admin/projects/admin-projects.js) and namespace each file to avoid conflicts.

[2013-01-14 19:18] ericclemmons commented on #27
Spoke with @kwhitley, and we've decided that a re-org where each sub-folder is considered a "module" and each file's module declaration is unique should resolve this, and will simplify extending complex apps.

[2013-01-14 19:18] #27 closed, assigned to nobody

[2013-01-14 20:07] ericclemmons commented on #19
Awaiting some sort of response on https://github.com/h5bp/server-configs/issues/55.  If nothing, we might create our middleware to add sane-defaults for cache times on images, etc.

[2013-01-14 20:11] ericclemmons commented on #18
To replicate this, rename `humans.txt` to `humans.html`, then open: http://localhost:8000/humans.html

Changing out the following fixes it:

[code]

[2013-01-14 20:12] ericclemmons commented on #7
Not necessary...

[2013-01-14 20:12] #7 closed, assigned to nobody

[2013-01-14 20:13] ericclemmons commented on #1
Not necessary.  A `grunt staticize` library can solve this :)

[2013-01-14 20:13] #1 closed, assigned to ericclemmons

[2013-01-14 22:14] ericclemmons commented on #18
Issue found & documented here: https://github.com/webxl/grunt-reload/issues/20

[2013-01-14 22:35] ericclemmons opened #29 "Switch grunt-reload to extension"
Because of issues with gzip & live reload adding the script, use the chrome extension instead.

[2013-01-14 22:36] ericclemmons commented on #18
Solving this via b2f09021cfedd7f462bf6fac4bc1bba0f0293e0a & #29

[2013-01-14 22:36] #18 closed, assigned to ericclemmons

[2013-01-15 16:49] #29 closed, assigned to ericclemmons

[2013-01-15 20:14] ericclemmons commented on #6
How about we do this when we put in docs & stuff?

[2013-01-17 20:45] jonphipps opened #31 "Getting Error: listen EADDRINUSE"
Just tried the a fresh install (comparing it to the new Yeoman skeleton) and I'm getting this error. I've checked to make sure nothing else is listening on 8000 and there isn't even another instance of node running. I'm not 100% sure it's really an issue with your code, but it looks a lot like the server's being run twice.

[code]

[2013-01-17 22:50] ericclemmons commented on #31
Hey @jonphipps!  Can you let me know a couple of things?
- Command you used to trigger this command
- `grunt --version`

Thanks!

[2013-01-18 16:52] ericclemmons opened #32 "Rename CSS files to LESS for inclusion"
Because LESS won't embed/compile CSS files, there should be a task to rename `github-ribbon-css/**/*.css` to `.less` so it can be included in `app.less`.

[2013-01-18 16:56] ericclemmons opened #33 "Complete genesis-skeleton.com + documentation"
# Genesis Skeleton

Zero to Live in minutes
## Description

An opinionated modern application starter using the latest technologies (such as Express, Angular, Bootstrap & Grunt) to help you quickly build your next great app.
## Features
- Clear folder structure - Based on both client & server-side convention, every part of your application has a home.
- Automation - Leveraging Grunt, everything fr

[2013-01-18 17:01] kwhitley opened #34 "Add error page handling"
e.g. 404, 500...

extending base layout

[2013-01-18 17:01] ericclemmons opened #35 "Convert into simplistic starter-app"
It should probably be based on this:

Also, this shouldn't be done until #33 is complete and is pushed to a new repo.

[2013-01-18 17:03] ericclemmons opened #36 "server.port should come from environment"
This value should come from environment, the same way `npm start` or `node app.js` uses port 3000.

[2013-01-18 17:12] kwhitley opened #37 "Clean up & fix navigation"
As **Home** and **Get Started** both do the same thing, I'd recommend simplifying to only **Get Started** (default).

Additionally, highlighting needs to work for Docs and other routes.

[2013-01-18 17:16] ericclemmons opened #38 "HTML5 routes with Angular"
If an express app only has a single view, all server-side routes should render the app, and angular should take care of the view.

[2013-01-18 17:22] ericclemmons commented on #37
Related to #38 & #33.  If we use HTML5 routes and finish up the content, then this will be resolved.

[2013-01-18 18:08] jonphipps commented on #31
Sure!

Ran it with...

[code]

[2013-01-18 18:08] kwhitley commented on #38
Sure, but we have that docs module (server side views)...

[2013-01-18 18:23] ericclemmons commented on #38
For now, yes, but I'm still up for figuring out how much of the app is going to be angular, and how much is going to be express.

[2013-01-18 18:25] ericclemmons commented on #31
Well, shoot.  Let me see if #36 would resolve this.  I can't reproduce it on my machine, and no one else I pinged could either :(

[2013-01-18 19:09] jonphipps commented on #31
I don't know if it'll help any, but here's the rest of the output from running...

[code]

Wish I knew more about grunt, express, and nodejs in general to be able to help debug. It seems highly likely that it's something local to my nodejs or Mac Lion environment.

Might it also matter that just before I was trying out Genesis, I was trying out the very new Yeoman Express Stack https://github.com/

[2013-01-18 19:25] ericclemmons commented on #31
Change in `grunt.js` `8000` to `3000`, or `5000` (or anything you'd like :D) and see if `grunt server` runs for you.

My thinking is that I chose a common port, and shouldn't hard-code this by default, since it likely is environment-specific.

I've been trying to make a case for Yeoman for > a month now.  I have lots of experience with generators, and found that the projects that I have (and those

[2013-01-18 19:25] ericclemmons commented on #31
Also, here's my output:

[code]

[2013-01-18 19:31] #36 closed, assigned to nobody

[2013-01-18 19:33] ericclemmons commented on #31
#36 has been resolved.  This will use whichever port you like, or fall back to 3000 like most node apps:

[2013-01-18 19:33] #31 closed, assigned to ericclemmons

[2013-01-18 20:36] ericclemmons commented on #33
@kwhitley Here's a quick pass at what we need.  My question to you is, does the genesis-skeleton site need to really have angular in it at all, or should it just be a simple express server?

[2013-01-18 20:42] kwhitley commented on #33
Anyone can set up a simple express server (albeit without some of the nice automation seen here)... so I think angular should be included.  If you want a barebones version we could do that - and then have variants (including angular) as flavors.

[2013-01-18 20:44] kwhitley commented on #33
Just more work!

:watch:

[2013-01-18 20:51] ericclemmons commented on #32
Maybe it's better to use RequiresJS for this?

[2013-01-18 20:52] ericclemmons commented on #32
Or perhaps a final CSS plugin for inlining import statements...

[2013-01-18 20:57] ericclemmons commented on #19
Tired of waiting.  Going to close until there's a problem.

[2013-01-18 20:57] #19 closed, assigned to nobody

[2013-01-18 22:48] ericclemmons opened #39 "Views are cached between LiveReloads"
@kwhitley says that 6e088319b940c67f8d04f49ea5433b983c3e4392 was working then.

[2013-01-18 22:58] kwhitley commented on #39
**Symptoms**
- if editing a view, with or without LiveReload extension running, a manual page refresh in browser does not update the view.  Interestingly though, opening it in a fresh incognito window DOES update it.  Similarly, curl requests each reflect the change.
- this behavior is not specific to views, as a `res.send({ ok: 1 });` type response appears similarly cached
- beyond just views, ev

[2013-01-18 23:41] ericclemmons commented on #39
Screw it.  Reverting 0500e7f (related to #30)....

[2013-01-18 23:42] #39 closed, assigned to nobody

[2013-01-18 23:53] ericclemmons commented on #38
Easy via:

[code]

[2013-01-18 23:53] ericclemmons commented on #34
@kwhitley Did you already have something prototyped for this?

[2013-01-19 00:02] ericclemmons commented on #32
Too easy: 08a1c5f

[2013-01-19 00:02] #32 closed, assigned to nobody

[2013-01-19 00:06] ericclemmons commented on #38
Ok,before I make this change, **should I**?

What this will force is:
- Express will have to server up the home page for _any_ unknown route (i.e. 404)
- Angular will need to have a 404 Controller & template via `$router.otherwise(...)`

Is this right?  Is this how apps should be built?  I've always hated the `#!` on URLs, but this act of enable HTML5 URL support will draw a line in the sand:
- An

[2013-01-19 00:21] ericclemmons commented on #33
Note to myself:

Then again, as neat as that is, a normal tree view with an explanation panel to the right would make it much easier to describe & understand the structure.

[2013-01-19 00:32] ericclemmons opened #40 "Folder structure"
@kwhitley
- Since `components` are front-end related, should I move them to `src/client/components` the same way Yeoman uses `app/components`?  It's trivial to do, and would make pathing easier between `app.less` and others.
- Should `public` be moved to `src/client/public`, or perhaps `src/public`, or `src/server/public`?
- Should `src/server/lib` be cleaned up in any way?

[2013-01-19 18:13] kwhitley commented on #34
Yeah, I do, but got sidetracked with the reload issue... I'll throw a PR up for this later today.

[2013-01-19 18:15] kwhitley commented on #40
`src/server/lib` could be turned to components, sure... but I certainly wouldn't move the `public` folder.  Remember, the whole build process is taking things FROM the client folder and building them "offsite" in the public folder...

[2013-01-20 02:41] niftylettuce commented on #19
hey sorry about this, been very busy, working on it now.

[2013-01-20 02:57] ericclemmons commented on #19
Haha, it's ok :)  I just closed this issue here so we wouldn't have to delay our 1.0 release.

[2013-01-20 02:59] niftylettuce commented on #19
@ericclemmons can you test this out? https://github.com/niftylettuce/node-h5bp  -- I also just pushed v0.0.3 to NPM

[2013-01-20 14:55] ericclemmons commented on #40
Ok, so `public` statys.  `src/server/lib` should stay lib, because it's for ... libs :)  A recent commit removed the /docs folder (moving everything to Angular!), so the server-side libs are already kind of small.

 I'll move `components` to `src/client/components` ala Yeoman and get everything synced up.

[2013-01-21 04:39] ericclemmons commented on #40
Ok, so with `src/client/components`, we need to put the other files in some other folder (`src/client/app/js`)?

[2013-01-21 14:46] kwhitley commented on #40
Yeah, they prob should be grouped by app/module like that

[2013-01-21 14:52] kwhitley commented on #38
Only bizarre in a site/page where the app IS the site/page.  That's how we appear to be using it here, but others may not do the same...  however, I _think_ that if you don't provide a default route in angular that it might roll back to the server to resolve.  Worth testing!

[2013-01-21 16:16] ericclemmons commented on #40
Taken care of via 498549a132f28bf3b10a22cd6f95a0fc0e6a8a32.

[2013-01-21 16:16] #40 closed, assigned to nobody

[2013-01-21 16:16] ericclemmons commented on #38
Take care of in `33-docs` branch.  PR pending!

[2013-01-21 16:16] #38 closed, assigned to nobody

[2013-01-21 16:17] ericclemmons commented on #37
Resolved with HTML5 templates and `33-docs`

[2013-01-21 16:17] #37 closed, assigned to nobody

[2013-01-21 20:50] ericclemmons commented on #6
This will be in #41

[2013-01-21 20:50] #6 closed, assigned to ericclemmons

[2013-01-21 22:06] ericclemmons opened #42 "Express `api` module for `/api/package`"
**Requires #41 / #33 to be complete**
- [x] Create `api` module
- [x] Respond to `/api/package` route with the contents of `package.json`
- [x] Integrate `package.title` & `package.version` into Angular views

[2013-01-22 06:27] ericclemmons commented on #42
Done via b374b6359d0354079968df57ce7016bdd3d2dac2

[2013-01-22 06:27] #42 closed, assigned to nobody

[2013-01-22 16:30] #33 closed, assigned to nobody

[2013-01-22 16:32] ericclemmons opened #43 "Switch to reloadr"
- [ ] This needs to be forked so that `watch` can call `reloadr` at the end, which should trigger changes
- [ ] Move `express.compress` back above `express.static`

[2013-01-22 18:01] kwhitley opened #44 "Package audit/cleanup"

[2013-01-22 18:02] kwhitley opened #45 "Grunt task cleanup/reorg"

[2013-01-22 18:16] kwhitley opened #46 "Re-add respond + modernizr"

[2013-01-22 18:27] ericclemmons commented on #43
Ok, that library sucks for firing the load event.  Create your own instead.

[2013-01-22 20:27] #34 closed, assigned to nobody

[2013-01-22 20:29] kwhitley opened #50 "Move api routes out of app.js"
Move the api routes to /lib/api/index.js

[2013-01-22 21:11] #50 closed, assigned to nobody

[2013-01-23 02:58] facultymatt opened #53 "Missing components"
Hello, really nice work here. Trying to install and start grunt server, but I seem to be missing the components... specifically I'm getting the following error:

`
Running "less:app" (less) task

It seems that bootstrap is missing completely?

[2013-01-23 03:08] kwhitley commented on #53
Bootstrap and other deps should be installed by `npm install`, @facultymatt

Still missing after that step?

[2013-01-23 03:13] facultymatt commented on #53
Well, kind of. I already ran NPM install. However, I just tried running npm install again, and it installed more stuff - ala the missing components! (Which are managed with bower, so bower needs to be installed first) I had never come across this before.

Might I suggest updating the documentation to reflect the possible need to run NPM install two times.

-Thanks! Nice work, again.

[2013-01-23 03:35] kwhitley commented on #53
Interesting... I've never run across that even with blowing the project away and restarting more than a few times - I'll have to see if we can recreate this issue.  Ideas @ericclemmons?

[2013-01-23 03:42] facultymatt commented on #53
You likely installed bower globally using npm install bower -g at some
point. In this case I suspect the bower components would be installed on
the first pass.

On Tuesday, January 22, 2013, Kevin Whitley wrote:

##

_Matt Miller
Creative Developer
m *609.335.4417
*twt_ @mattmillerart http://twitter.com/#!/mattmillerart

##

faculty
_twt_ @facultycreative http://twitter.com/#!/facultycreative
_w_

[2013-01-23 03:49] facultymatt commented on #53
Also worth noting as an aside, the `grunt server` command doesn't work unless you install grunt globally. I had to google this, apparently grunt doesn't install shell/ terminal commands unless its a global install. Not sure if the package manager can do this... http://blog.nodejs.org/2011/03/23/npm-1-0-global-vs-local-installation/ might be helpful.

[2013-01-23 03:50] facultymatt opened #54 "http://localhost:3001/#/guide is a 404 page"
Seems to be an error, unless this is to demo the 404 page functionality.

[2013-01-23 04:02] kwhitley commented on #54
Yeah there's nothing behind `/guide` at the moment - we were testing 404's and 500's today (in #48)...  you're catching it right before we finalize v 1.0 :baby_symbol:

Thanks for helping us tear through it!  Need more eyes....

[2013-01-23 04:25] facultymatt commented on #54
Nice, yes this seems to be solved by PR 48 as you mentioned although I haven't tested the pull request myself.

Might I suggest an alternate implementation... It works in theory but not sure its technically possible (I was actually trying to make this happen when I stumbled across a stack overflow conversation with a link here!) because of relative paths and also I'm not that familiar with Angular

[2013-01-23 05:27] ericclemmons commented on #54
@facultymatt Funny thing is, probably a day or two ago this was the approach we were using: defaulting to HTML5 pushstate and having all routes render the app.  AngularJS caught this easily via `$router.otherwise(...)`.  Sure enough, working routes rendered as normal, which meant that the URLs could have some permanence.

Since we're using Modernizr, it would be possible to confirm pushstate suppo

[2013-01-23 05:32] ericclemmons commented on #53
Sure enough, `npm install` automatically runs `bower install`, so it should have been done.

Both bower & grunt recommend (via their docs, and even via warnings when installing grunt via NPM!) global installation:

Should this simply be added in README & quick start?

[2013-01-23 05:33] ericclemmons commented on #46
Closed via #47

[2013-01-23 05:33] #46 closed, assigned to nobody

[2013-01-23 05:33] ericclemmons commented on #43
Ok, created https://npmjs.org/package/grunt-livereload .  About to send a PR...

[2013-01-23 05:57] kwhitley commented on #53
Well i just uninstalled global bower, grunt, etc... wiped the repo and started over. `npm install` installed everything without a hitch and only needed `npm install grunt-cli -g` to run `grunt server` (which worked first try).  Even bower install was left up to `npm install` and worked fine...

So.... I'm at a loss!

[2013-01-23 06:06] kwhitley commented on #53
npm apparantly doesnt need bower installed globally to run `bower install` (just checked this, as it triggers fine despite the lack of global install).

_However_... we need to put it in the docs anyway, as we want it available for installing components via `bower install --save underscore` and the like...

[2013-01-23 15:05] facultymatt commented on #54
Ahh yes, that would be another major disadvantage I didn't think about... adding the #/ to links. I played around with it this morning and while Angular documentation suggests this should be easier... I wasn't able to get the links working, using one pattern, for both html5 and hashbangs.

I'll keep working on this one and keep you all posted. Thanks!

[2013-01-23 15:20] facultymatt commented on #54
Idea! What if we use modernizer to detect pushState, if supported

[code]

If not supported,

[code]

This would require that developers use ng-href (instead of href) and always include the hash var `ng-ref="{hash}/guide"` which adds a little overhead, while minimal.

It would also require a bit of config and different execution should the developer want to use another MVC library. Maybe there cou

[2013-01-23 15:30] facultymatt commented on #53
Ok, I created a new project, ran npm install, same problem. Needed to run it again to get the components. Im including my node log below... maybe you all can spot something odd I'm doing.

Thanks, -Matt!

PS - I just noticed the following warning after my install:
`npm WARN cannot run in wd genesis-skeleton@0.0.1 bower install (wd=/Applications/MAMP/htdocs/fac/genesis2)`

This appears to be the is

[2013-01-23 16:33] ericclemmons commented on #53
I "snipped" your comment so the main parts are visible, without the excess.  I hope you don't mind (everything snipped was normal npm output).

I'm curious why you're doing a `sudo npm install` first, then followed by a regular `npm install`.  From a blank project, does `npm install` not work as expected?

[2013-01-23 16:37] ericclemmons commented on #53
Hmm, I did the following...

[code]

So it looks like we should probably recommend `npm install -g grunt-cli bower`, just because those are two primary dependencies (besides node+npm), but still no closer to knowing why it's failing for @facultymatt!

[2013-01-23 16:47] ericclemmons commented on #54
I'm not opposed to using `ng-href` and, what would have to be, a `$rootScope` variable.  Although, I feel that there is a root issue to be resolved, in which angular doesn't, from what I've seen, support named routes.  Otherwise, we could have much simpler generation via something like:

[code]

[code]

`ng-route` (or some equivalent) would be able to generate a defined route with default params a

[2013-01-23 16:50] facultymatt commented on #54
Ok, I implemented the above in my fork and it works pretty well. @see https://github.com/facultymatt/genesis-skeleton/commit/707609d408d235083a8093abe311009610e57ee4 There is still an issue where the server redirects pages to the hashed counterpart, and then Angular removes the hash if we are using pushstate. This is a bit odd... ideally, the server would always serve up the index file, regardless

[2013-01-23 16:54] ericclemmons commented on #54
So we could remove the redirect to the hashed counterpart (let Angular do that, if HTML5 history isn't supported), but instead just render the home page for _all_ routes not explicitly defined on the server.

Basically, what your last sentence said :)

[2013-01-23 17:06] facultymatt commented on #54
In theory, but on my first attempt I was getting redirect loops ;) will work on it more after lunch.

Sent from my iPad

On Jan 23, 2013, at 11:54 AM, Eric Clemmons notifications@github.com wrote:

[2013-01-23 17:31] facultymatt commented on #54
Ok, seems to be working now:
https://github.com/facultymatt/genesis-skeleton/commit/5501a0821560b2b28f109bdcf961d94c299349fd

[2013-01-23 17:49] ericclemmons commented on #54
Sweet!

I'll pull together both (cherry-pick, of course, so you get credit!) and create a PR for approval.

@kwhitley & I were discussing (since this project is the basis for a _large_ project at our company) the line we're drawing between Express & Angular with this, and it seems to be the following:

[2013-01-24 16:23] #43 closed, assigned to nobody

[2013-01-24 22:17] ericclemmons commented on #54
@facultymatt Man, this sucks.  The problem is, HTML5 history is not supported by IE8 & IE9, which constitutes a large chunk of users.  Supporting both HTML5 & hashes means that URLs will have to be dynamic, and that either means:
1. All URLs have to have a `{{ hashPrefix }}` variable, which is messy and relies on globals or
2. All URLs use a dynamic URL generator, like `ng-route`, or `ng-href` (if

[2013-01-24 22:17] #54 closed, assigned to nobody

[2013-01-24 22:27] #53 closed, assigned to nobody

[2013-01-24 22:28] ericclemmons commented on #44
Looks like you finished!

[2013-01-24 22:28] #44 closed, assigned to nobody

[2013-01-25 21:30] facultymatt commented on #53
@ericclemmons thanks for cleaning up the comment.

As for sudo, this is usually required on my setup because I get an error (something along the lines of permission denied) without it. Not sure why, likely goes back to the install of NodeJS I did (and I haven't updated recently) (although does node update itself?)

Interesting enough, I shared this with a co-worker and they had a different bower i

[2013-01-25 21:51] ericclemmons commented on #53
Perhaps!  It really is a shame bower doesn't even tell you _where_ files are installed, just that they are.  It's up to you to find out where =/

I removed `.bowerrc`, so they should be in the project root now...

[2013-01-28 18:11] ericclemmons opened #59 "Missing partials results in infinite loop"
When AngularJS tries to load via AJAX a partial (that wasn't compiled via `ngtemplates`), an angular error page is returned, which causes an infinite loop.
- [ ] Copy all partials into `dist/` directory as backup, so `ngtemplates` is optional
- [ ] @kwhitley's `template|partials|views*.html` error bypass in `errors/index.js`

[2013-01-28 18:11] ericclemmons commented on #59
To copy all partials into `dist` directory with namespacing `app/views/...`, we have to upgrade to grunt 0.4 :(

[2013-01-28 18:12] facultymatt opened #60 "Deployment issue, npm start not found."
Hello all,

I tried deploying this morning and its failing. I get the following logs from Heroku:

[code]

Any thoughts?

Also, while deploying I began pondering how this works with heroku... In the past I have always deployed simple heroku node apps, make 1 or 2 JS files. With the genesis setup:
- How does Heroku know to run code from the dist folder?
- Does Heroku even run from the dist folder,

[2013-01-28 21:59] ericclemmons commented on #60
When heroku deploys, it runs the `Procfile`, which in turn calls `npm start`, which in turn runs the script:

[code]

You can test it out using `foreman`, which comes with the Heroku toolbelt.  Perhaps I should modify the `Procfile` to run the above command explicitly?

[2013-01-28 23:22] facultymatt commented on #60
@ericclemmons thanks for the explanation. Running `foreman start` successfully executes the start command (building and starting the server).

I tried adding the command directly in the `Procfile` and while this works, the app still doesn't start successfully. I get the following error logs from Heroku:

`
2013-01-28T23:04:47+00:00 app[web.1]: Running "copy:bootstrap" (copy) task
2013-01-28T23:04:

[2013-01-29 15:06] facultymatt commented on #60
Looking into this more... seems that the Procfile script is getting run when a user first hits the site? In other words, the git push and build works, but then one I visit the site to preview it the system tries to build again (or at least compile less) and fails.

[2013-01-29 15:26] ericclemmons commented on #60
I'll try this on my end and resolve it for you!  `master` has been volatile as the guide is being put in and final architecture decisions are made.

[2013-01-30 01:46] #45 closed, assigned to nobody

[2013-01-30 01:46] #59 closed, assigned to nobody

[2013-01-30 03:44] facultymatt opened #62 "JS Errors and empty guide page on iOS"
Hello guys, awesome work so far! Was just checking out the new guide on my iPhone and noticed a weird bug, to replicate:
- visit genesis-skeleton.com on your iDevice
- navigate to the guide page
- click the issues link (likely works with any link that takes you to a new page)
- press the back button
- Guide page is empty and 2 errors are logged.

See the attached screen shots for the errors. Note

[2013-01-30 06:14] ericclemmons commented on #62
I'll look into it!

[2013-01-30 16:52] ericclemmons opened #63 "Update docs to detail removal of `grunt server` and introduction of coffeescript."

[2013-02-04 03:12] #63 closed, assigned to nobody

[2013-02-04 04:23] ericclemmons opened #65 "Attempt to re-use H5BP"
It's been updated to 0.0.3, and should remove the need for manually including the `compress` middleware.

[2013-02-04 19:47] ericclemmons opened #66 "Make NPM module"
Similar to being able to run `express` to create a structure, allow the following:

[code]

[2013-02-04 19:48] ericclemmons opened #67 "Convert `express-server` into a grunt-npm task"
This should be an external dependency.

[2013-02-04 20:07] ericclemmons opened #68 "Update `grunt-livereload`"
Refs ericclemmons/grunt-livereload#1

[2013-02-18 02:08] ericclemmons commented on #68
This should be replaced with:

The parent project no longer needs to exist, now that reloads can be triggered.

[2013-02-24 21:18] #68 closed, assigned to nobody

[2013-02-24 21:50] #67 closed, assigned to nobody

[2013-02-24 22:04] ericclemmons commented on #65
Screw it.  It's better to re-implement something that's more flexible that _does_ work, modelled after the `.htaccess` in H5BP.

Then again, some people may prefer to use nginx for that.

Anyway, don't use this.  Everything comes back as:

[code]

[2013-02-24 22:04] #65 closed, assigned to nobody

[2013-02-24 22:05] ericclemmons commented on #66
Or Yeoman generator?

[2013-02-25 02:42] ericclemmons commented on #66
Optional, of course.

[2013-02-27 17:29] kwhitley opened #72 "Watch fails on lint/jshint errors"
Would be awesome if the error was shown and the build process terminated (leaving the existing server instance intact).

[2013-02-27 17:31] kwhitley opened #73 "Error: listen EADDRINUSE"
[code]

This happens... the server appears to continue through it, but won't serve routes, etc.

[2013-02-27 17:32] kwhitley opened #74 "Minimize file copy verbosity?"
So. much. visual. clutter...

[2013-02-27 19:13] kwhitley commented on #73
@ericclemmons There you go!

[2013-03-04 20:06] ericclemmons commented on #73
Crap, I'm having a hard time replicating this without starting two `grunt server`s in two tabs, but that's expected to fail.

[2013-03-04 20:16] ericclemmons commented on #74
It [got shot down](https://github.com/gruntjs/grunt-contrib-copy/pull/53). =/

[2013-03-05 07:11] #74 closed, assigned to nobody

[2013-03-05 07:11] ericclemmons commented on #74
Fixed itt!

[2013-03-05 21:38] kwhitley opened #76 "angular templates break with javascript line comments"
See https://github.com/ericclemmons/grunt-angular-templates/issues/12

[2013-03-06 04:27] ericclemmons commented on #72
I looked into this quite a bit, and it _would_ be possible via `regarde`'s `spawn` option **if** `jshint` was ran _alone_ rather than alongside `express-server` (which has to be ran within the same process each time).

Anyway, simple solution is: `grunt server --force`.  This will force continuation of tasks rather than exiting.

Works great (as long as you're not having the EADDRINUSE errors)!

[2013-03-06 04:27] #72 closed, assigned to nobody

[2013-03-07 15:17] ericclemmons commented on #73
Found out how to repeat it!
1. `grunt server` (works)
2. Cause `jshint` error via some bad JS (server fails)
3. Fix previous error
4. `grunt server` (fails)
5. Refresh webpage in browser (timesout/fails)
6. `grunt server` (works)

So either `jshint` should be ran in parallel or perhaps the server should be ran 1st instead.

[2013-03-07 18:39] #73 closed, assigned to nobody

[2013-03-08 18:57] ericclemmons opened #78 "[FEATURE] socket.io"
It's really useful for pushing data to the client, so might as well make it available by default.

I'll leave this here:

[2013-03-09 19:58] ericclemmons commented on #66
@kwhitley  How do you like this way of installing?  Pretty clean, IMO:

[2013-03-12 20:09] facultymatt opened #79 "How to handle templateUrl in directives."
I just tried making a directive with templateUrl instead of including the template: <html> in the directive itself. Not having much luck... it occurred to me this might not work with how genesis combines partials/template files?

Any suggestions? Thanks!

[2013-03-13 17:17] ericclemmons commented on #79
Alrighty, let me change [issueDirective.js](https://github.com/ericclemmons/genesis-skeleton/blob/master/src/client/app/js/directives/issuesDirective.js) to use `templateUrl` and I'll straighten 'er out!

Ideally it should work with and without `ngtemplates`...

[2013-03-13 17:25] ericclemmons commented on #79
What's your folder layout for partials & templates for directives?  Do they live side-by-side, or in separate folders?

[2013-03-13 17:36] facultymatt commented on #79
I was trying it a few ways: a.) having a separate templates folder b.) inside the partials folder and c.) sprinkled throughout js folder, grouped with js files. See https://github.com/angular-app/angular-app/tree/master/client/src/common/security/login for an example.

I tend to like option c, which seems best for keeping things organized.

Interestingly I noticed that regardless of where you put

[2013-03-13 17:58] ericclemmons commented on #79
Check out #80.  I tried both `app/js/directives/issues.html` (to accompany `app/js/directives/issuesDirective.js`) and what you see now `app/partials/issues.html` and they all work.

The thing is, `/src/client/**.html` is both copied to `/dist/...` and compiled with the `ngtemplates.app.base` prefix removed from the path, so you _should_ be able to put it anywhere under `/src/client` and it should

[2013-03-13 18:18] facultymatt commented on #79
This looks good. Got something similar working on my end. Problem was that I have the path to the templates wrong... I forgot the "app/" prefix.

Thanks for jumping on this. Looks good to merge!

[2013-03-13 18:18] #79 closed, assigned to ericclemmons

[2013-03-20 16:07] ericclemmons commented on #66
Done via https://github.com/ericclemmons/generator-genesis !

[2013-03-20 16:07] #66 closed, assigned to nobody

[2013-03-26 22:07] ericclemmons opened #81 "Replace `grunt-verbosity` with `grunt-contrib-copy`"
Version `~0.4.1` contains my patch that removed the super-verbose output.

[2013-04-17 14:55] simalexan commented on #78
Great!

[2013-04-23 21:51] kwhitley opened #82 "Install error in app.less"
On running `$ grunt server` after `npm install`:

[code]

[2013-04-23 21:54] kwhitley commented on #82
Of course, I can plainly see the `@import` on `.../variables.less`, and the `@baseLineHeight` within...

[2013-04-23 21:57] kwhitley commented on #82
Looks like the **/components** folder was being nested inside **/app** at the root.  This intentional, @ericclemmons?

[2013-04-23 22:15] kwhitley commented on #82
Suspect hidden file pollution before install - false alarm...

[2013-04-23 22:15] #82 closed, assigned to nobody

[2013-04-24 18:52] #76 closed, assigned to nobody

[2013-04-24 18:52] ericclemmons commented on #78
Remove Heroku deployment default.

[2013-04-25 16:10] ericclemmons opened #84 "Remove Procfile"
Heroku's great & all, but it's not that difficult to get up & going, so take it out of the root.

[2013-04-30 18:33] ericclemmons commented on #84
Removed via ae82063b5bd47615606eb67a61d486ba40a1fb76

[2013-04-30 18:33] #84 closed, assigned to nobody

[2013-04-30 18:33] ericclemmons commented on #81
Removed via 1da07c4bd9ef297ab5411359c1bf3785c112df2e

[2013-04-30 18:33] #81 closed, assigned to nobody

[2013-04-30 18:33] #35 closed, assigned to nobody

[2013-04-30 18:39] ericclemmons opened #85 "[FEATURE] Static site"
- [x] Remove `server`
- [x] Update `Gruntfile.coffee` to reflect lack of API resources
- [x] Update starter kit to use Github API or something

[2013-04-30 18:40] ericclemmons opened #86 "[FEATURE] Coffeescript"
Let's see what code looks like with Coffeescript!

[2013-04-30 22:36] ericclemmons opened #87 "Rename js and less folders to scripts & styles"
Because of the CoffeeScript feature branch, it makes much more sense to have semantically named folders instead.

[2013-04-30 22:37] ericclemmons opened #88 "Tests should run from build directory, not client directory"
Also seen in the CoffeeScript feature, the JS only exists in the `build` folder, which is where all scripts should be referenced from.  `client` shouldn't be used to test output functionality.

[2013-05-01 04:21] ericclemmons commented on #88
Fixed via 36052abc4caf4ae17b2e1bcffe53ef6c53192227

[2013-05-01 04:21] #88 closed, assigned to nobody

[2013-05-01 04:25] #87 closed, assigned to nobody

[2013-05-01 04:30] ericclemmons commented on #86
Done: https://github.com/ericclemmons/genesis-skeleton/tree/feature/coffeescript

[2013-05-01 04:30] #86 closed, assigned to nobody

[2013-05-01 18:27] ericclemmons commented on #85
Resolved via:

[2013-05-01 18:27] #85 closed, assigned to nobody

[2013-05-05 13:38] psyllos opened #89 "Live Reload"
It seems that the live reload does not work into the browser : the live reload script is not injected into the page

[2013-05-05 16:26] ericclemmons commented on #89
That's correct.

We personally use the Chrome Extension (https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei?hl=en) (there's one for Firefox & others) because of a known issue with Express's `compress` middleware that does not recalculate the `content-length` when another middleware injects the script automatically.

If this is a "must have" for you, I can look in

[2013-05-06 07:53] psyllos commented on #89
No,it's a "nice to have". I was using the extension and it's ok. Thank you.

[2013-05-06 07:53] #89 closed, assigned to nobody

[2013-05-08 02:58] ericclemmons opened #90 "LESS errors kills server"
This should be done in `parallel:less`.

[2013-05-08 18:41] ericclemmons opened #91 "Rename "serverless" feature to "static""
Based on the [github pages documentation](https://help.github.com/categories/20/articles), the following should be done to make the whole project deployable as `username.github.io`:
- [x] Rename branch to `static`
- [x] Move the project root to `_src`
- [x] Build all components & finalized resources to the project root
- [x] Do not create an index page, but only a `404.html` page, which is the new

[2013-05-08 19:02] ericclemmons commented on #90
Fixed via 92d7e4095a4a0bd84442675f1adae1f40f1a5c26

[2013-05-08 19:02] #90 closed, assigned to nobody

[2013-05-08 20:27] ericclemmons commented on #91
@kwhitley Done!

[2013-05-08 20:27] #91 closed, assigned to nobody

[2013-05-09 04:01] ericclemmons opened #92 "Static issues"
- Force reload when _any_ resource changes
- Fix `npm start`
- Fix font hrefs being inside of build tags

[2013-05-10 04:49] ericclemmons opened #93 "Switch back to `watch`"
Regarde has been deprecated.

[2013-05-10 04:49] ericclemmons opened #94 "Update ngtemplates + express"
I've done a lot of work on it, so use it please.

[2013-05-10 15:38] ericclemmons commented on #94
Resolved via e2eca6d996a5c5ac91011f3d1eb41168462980b8 & f2b8cb43995c96531b916e1f7c654b5ae0bd1474

[2013-05-10 15:38] #94 closed, assigned to nobody

[2013-05-10 16:29] ericclemmons commented on #93
This is on hold until `grunt-contrib-watch` has less problems.  So far, it doesn't come close to being better than what I have now.

[2013-05-10 16:29] #93 closed, assigned to nobody

[2013-05-10 16:35] ericclemmons commented on #92
e3e30f5e5c043a4a5db8be661216009ff57aae09
713a7af3d3d982fdaf7585d5112448262a78264c
71f429ecdc8f7d7eb9357774866defa68b4a573e
373db5fd75741799981c1d8bb461f92bb83a4a32

[2013-05-10 16:35] #92 closed, assigned to nobody

[2013-05-11 04:38] ericclemmons opened #95 "Static Restructure"
@kwhitley Hey, I was thinking.  I personally don't like having `_client` & all of that fancy stuff polluting the folder structure.

I say keep `_bin` & `_server`, because they are never meant to be touched.

But merge all of `_client` into the root, so that all Gruntfile does is just compile the `.min.css` and `.min.js`.  Savvy?

[2013-05-14 03:09] ericclemmons commented on #95
@kwhitley Hello?

[2013-05-14 04:28] kwhitley commented on #95
We talked about this! If it makes deploying easier then sure why not, but otherwise it's nice having a git ignorable folder for build output...

[2013-05-14 14:12] ericclemmons commented on #95
But in this case, the build output is the ROOT of the project, which you can't ignore.  So, I'm wondering why keep the `client` folder at all then?

[2013-05-14 14:42] kwhitley commented on #95
because the contents of client is never touched, at least keeping your code
clean and separate from build output/dirty files!

~
Kevin R. Whitley
@ kwhitley.com

On Tue, May 14, 2013 at 9:12 AM, Eric Clemmons notifications@github.comwrote:

[2013-05-29 03:44] ericclemmons commented on #95
I'm thinking of reverting a lot of my changes here & instead keeping the `build` folder.  Perhaps the best way to handle a static site is to simply document it using my prior work:

Basically, always make the `build` directory the `gh-pages` branch...

[2013-05-29 03:50] ericclemmons opened #96 "Silex feature would be handy"
Because we're investigating using PHP ([Silex](http://silex.sensiolabs.org/), specifically), but wanted to avoid the headaches & bulk of Assetic, a feature branch would be handy:

[2013-05-29 14:48] kwhitley commented on #95
Certainly would help keep things separated...

~
Kevin R. Whitley
@ kwhitley.com

On Tue, May 28, 2013 at 10:45 PM, Eric Clemmons notifications@github.comwrote:

[2013-05-29 21:42] gavinjpotts commented on #60
I had this issue when deploying to Heroku - fixed it by adding Bower as a dependency in package.json. Also had to add a Procfile to make it work with Heroku.

[2013-05-30 04:39] ericclemmons commented on #60
Well, then I made a mistake by removing the `Procfile`.  (I assumed a Heroku deployment to be presumptuous)
- [ ] Add back in Procfile
- [ ] Correct `package.json` with necessary dependencies (e.g. Bower, etc.) for deployment

[2013-05-30 11:25] facultymatt commented on #60
Haven't tested this yet, but how does it work having Bower installed both locally and globally?

[2013-05-30 11:59] gavinjpotts commented on #60
You might be right about the Procfile being presumptuous - I think my mistake was following the Heroku instructions on the Genesis homepage verbatim. Maybe a more appropriate fix would be to mention that step in the heroku instructions instead of making it a part of the repository?

[2013-05-30 12:20] rehno-lindeque opened #97 "Live reload fails with Inotify on ubuntu"
Hi, on ubuntu (ver 13.04) live reload fails in the `regarde` task because the system limit for inotify watchers is reached. (The same issue occurs here https://github.com/yeoman/yeoman/issues/717)

There's a temporary fix mentioned there, which is to use the command

`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`

Thanks!

[2013-05-30 14:40] ericclemmons commented on #60
You're right.  The docs need to seriously be updated after the significant changes we've made recently to structure and whatnot.

On the flip side, if Heroku is, like it was for me, a common choice 1st-time deployers, a Procfile adds ~20 characters to the repo.

I didn't have the issue @facultygavin has because Bower is installed globally for me, but I'll take care of this & get it playing nice wi

[2013-05-30 15:14] facultymatt opened #98 "Unit tests fail to run on grunt server / reload; have unclear messaging when run with grunt test"
@ericclemmons I love the new test functionality but I'm having a few issue with getting them to run.

**1. Unit tests don't run with grunt server or on live reload**
I recall this happening at one point. It seems to have been removed in the current master branch.

**2. When running grunt test, its not clear what is happening nor does the process resolve itself**
After running `grunt test` the user

[2013-05-30 15:30] facultymatt opened #99 "Browser tests fails to run without ng-app="app" on <body> tag, adding this tag causes app to be started twice!"
Genesis launches the app instance using the following method:

[code]

The current master version also includes the following body tag:

[code]

This is causing the app to start twice! You can verify this by loggin from a controller. You'll see the log twice. My first solution was to remove the ng-app="app" from the body tag, however this caused issues with the browser tests at http://localhost:30

[2013-05-30 21:04] ericclemmons commented on #96
Maybe Laravel instead?

[2013-06-01 17:33] facultymatt opened #100 "Occasional fail on live reload"
Occasionally, when I saving a file and grunt rebuild / reloads, I get the following error:

[code]

The causes localhost:3000 to be unavailable (although the server still appears to be running). To fix this I must stop the server and run `grunt server` again.

[2013-06-01 17:45] ericclemmons commented on #100
Wow, I've yet to see that!  Does it happen early in the session, or after prolonged use for you?

Also, what system are you on?

[2013-06-01 18:06] facultymatt commented on #100
I'll send over more details later, for now you can recreate by doing the following:
1. run `grunt server` and visit localhost:3000
2. activate live reload
3. save a change, so live reload tirggers
4. make a change that will fail jshint, ex: delete a semi colon
5. save, you should get a log like the log below
6. then fix this change and save again.
7. All sorts of strange things start happening...

[2013-06-01 18:08] ericclemmons commented on #100
AWESOME, I can work with that!  Thank you!

[2013-06-03 04:52] ericclemmons commented on #95
After looking at this again, I think I'd rather just write a guide saying:

That effectively works, it's simple, and you don't lose the awesome structure or end up with headaches between branches.

[2013-06-18 17:04] facultymatt commented on #100
Any progress on this? Now getting it slightly different, on Regrade instead of karma:

[code]

[2013-07-01 01:28] ericclemmons commented on #100
I've had people tell me that regarde is slowly getting less reliable with grunt & newer versions of node.  What sucks is the last time I tried to use `grunt-contrib-watch`, it did this massive reload on the page, rather than just the file that changed, as expected.

That error you're getting _is_ similar to one I've gotten when running the server for long periods of time...

[2013-07-01 01:37] ericclemmons commented on #99
I think now I recommend using `ng-app` instead of manually bootstrapping, since that's the "angular way".  Manual bootstrapping was being done because, at the time, I was using RequireJS and that fit in with the `main.js` mantra.

[2013-07-02 01:13] ericclemmons opened #101 "[FEATURE] React branch"
You should be able to steal the awesomeness from the internal admin you're working on, Eric!

(Thanks! I will, Eric!)

[2013-07-02 04:09] ericclemmons commented on #96
Yea, Laravel instead, but there's enough stuff to do...

[2013-07-02 04:09] #96 closed, assigned to nobody

[2013-07-02 04:11] #99 closed, assigned to nobody

[2013-07-02 04:11] ericclemmons commented on #95
@kwhitley This is kind of how we discussed today.  I'm going to come back to this when there is time...

[2013-07-02 04:11] #95 closed, assigned to nobody

[2013-07-02 04:16] ericclemmons commented on #98
I'm going to change it it's the following:
- `grunt server` is just for development, no tests.  (I've found things change too much to warrant this)
- `grunt server:unit` will run the server but include the unit test suite.  (For me, this is done to add tests to support/verify normal development behavior)
- `grunt server:e2e` will run the (much more computationally expensive) e2e tests + runner, wh

[2013-07-02 04:16] ericclemmons commented on #60
@kwhitley had the same problem as you, so I'll be adding the Procfile back in for 1st-class Heroku support...

[2013-07-03 03:07] ericclemmons opened #102 "Complete coffeescript example"
There are issues in grunt-express-server/issues#10 that could use this example being updated.

Additionally, regarde needs to be replaced with watch, since that's supported & the former is not.

[2013-07-04 04:43] ericclemmons commented on #98
I'm about to update `master` with several updates to bower, npm packages, and some of the Gruntfile tasks.

Since Angular 1.1.x came out, and Karma has been updated to 0.9.x, there is significant more setup to have tests working well for both unit + e2e tests.  (YearOfMoo has a good blog post on this, which shows how complex testing is out the gate)

Basically, unit testing will work fine, but I'm

[2013-07-05 03:00] ericclemmons commented on #60
Test out `master`.  I added back the `Procfile`, and if you remove `build` from `.gitignore` and commit it, Nodejitsu works as well.

[2013-07-05 03:00] #60 closed, assigned to nobody

[2013-07-05 03:00] ericclemmons commented on #100
@facultymatt Can you check out `master`?  I'm using `grunt-contrib-watch` now, and would like to resolve any lingering issues...

[2013-07-05 03:01] ericclemmons commented on #97
Thanks for letting me know about the fix!  I'm using `grunt-contrib-watch` now, but this belongs in the docs...

[2013-07-05 03:01] ericclemmons commented on #62
I'm redoing the docs to be something simpler I can actually maintain.

[2013-07-05 03:01] #62 closed, assigned to ericclemmons

[2013-07-05 13:53] facultymatt commented on #100
I'll check it out later today. Off the grid now. 
—
Sent from Mailbox for iPhone

On Thu, Jul 4, 2013 at 11:00 PM, Eric Clemmons notifications@github.com
wrote:

[2013-07-06 14:15] facultymatt commented on #100
@ericclemmons this isn't working consistently for me. Checked out master, started 'grunt server', made a change to home.js and saved... the server stopped with the following logs:

[code]

Not sure whats happening. The logs `completed in...` & `Done, without errors.` happen just about every time I save. @note im using node --version 0.10.8 (current is 0.10.10) but I doubt this would be the cause o

[2013-07-06 16:58] ericclemmons commented on #100
Got the same issue last night, it's because I accidentally left in `karma:background:run`.  Simple fix, just pull it out of the appropriate `watch` task.

[2013-07-06 17:01] ericclemmons commented on #100
Check out the [feature/react](https://github.com/ericclemmons/genesis-skeleton/tree/feature/react) branch for some of the latest changes I've been making to work well with React.  One, it's using a new version of Karma, which should remove the need for `grunt server:unit`, since Karma can watch files fine on it's own, but it also requires redoing how angular modules are declared.  (Each file needs

[2013-07-09 05:27] ericclemmons commented on #100
Fixed this bug.  Also, clearing out issues because of tons of sweeping changes to the codebase.  Karma is proving fickle, and we need a fresh start...

[2013-07-09 05:27] #100 closed, assigned to nobody

[2013-07-09 05:28] ericclemmons commented on #98
`grunt test` is now a one time process.  `grunt server:unit` is effectively the TDD task now.

[2013-07-09 05:28] #98 closed, assigned to nobody

[2013-07-09 05:28] ericclemmons commented on #101
Done

[2013-07-09 05:28] #101 closed, assigned to nobody

[2013-07-09 05:28] ericclemmons commented on #78
I think this is a bit out of the scope of this project...

[2013-07-09 05:28] #78 closed, assigned to nobody

[2013-07-12 12:54] rehno-lindeque commented on #97
No problem!

[2013-07-13 03:11] facultymatt opened #103 "Incorrect package.json"
line: https://github.com/ericclemmons/genesis-skeleton/blob/master/package.json#L43 should be

`"grunt-contrib-mincss": "~0.4.0-rc7",`

you forgot the `-`

[2013-07-13 03:19] facultymatt opened #104 "Incorrect bower setup"
You are pointing to `bower_components/...` for bower files... however bower is currently configured to compile to `components/...`

By default bower installs into components, to over-ride this you'll need a bower config file... but this doesn't appear to be committed in master... unless I'm missing something. Did you change this manually?

To fix, I suggest either:
1. commit the `.bowerrc` config

[2013-07-13 20:59] ericclemmons commented on #104
Bower updated to `v0.10.x` recently, which changed the location.  If you do `npm update -g bower`, it should install the new version.

Do you know of another way of forcing this version, since bower is expected to be globally installed?

[2013-07-13 21:09] ericclemmons commented on #103
Oh!  How in the heck did this thing install!?

Thanks!

[2013-07-13 21:10] ericclemmons commented on #97
Update documentation with this fix...

[2013-07-15 20:31] facultymatt commented on #104
Not sure there's a way to do this... I'll do some research.

Short term (and maybe the best option) is a changelog... for each version list a summary of changes, bug fixes, features, etc. Highlight Breaking changes and NPM commands to run.

[2013-07-15 20:34] facultymatt commented on #103
You prob did a terminal `bower install grunt-contrib-mincss` install, then went back after the fact and added to the bower file. I've done this myself before and didn't catch the incorrect bower.json addition because I had already installed the bower package. ;)

[2013-07-23 15:31] nolandubeau opened #105 "Problem with node_modules"
Hi there,

First off, great work on this project.  I followed the install instructions step by step and noticed when the generator ran there was no node_modules folder created in the project root.  I receive the following error when I run grunt server:

Fatal error: Unable to find local grunt.

If you're seeing this message, either a Gruntfile wasn't found or grunt
hasn't been installed locally to

[2013-07-25 03:29] ericclemmons commented on #105
Oh, let me take a look & I'll get it resolved!  I may have left `master` in an unstable state, so I better get a tagged version out!

[2013-07-29 19:30] ericclemmons commented on #105
Just to confirm, can you run `npm install -g yo bower grunt-cli` and `yo genesis` again?

Worst-case scenario, provide your `bower --version`, `grunt --version`, `node --version`, `yo --version` and `npm --version`.  Otherwise I'm not sure how to proceed :)

Thanks!

[2013-07-29 19:31] ericclemmons commented on #103
Fixed via #106!

[2013-07-29 19:31] #103 closed, assigned to nobody

[2013-07-29 19:31] ericclemmons commented on #104
I'll add this to the README for now.  I guess I reinstall Bower all the time :D

[2013-07-29 19:31] #104 closed, assigned to nobody

[2013-07-29 19:43] #97 closed, assigned to nobody

[2013-07-30 02:30] kwhitley opened #107 "Deploy to nodejitsu without pre-building"

[2013-08-02 18:58] msaglietto opened #108 "Heroku deploy timeout"
Hello,

I am starting an application on a heroku instance, and im having problems because the bootstrap process timeout by heroku because after a commit its taking more than 60 seconds to bind the port.

Here is the log:

If change the procfile to be without the optimize, like
web: ./node_modules/.bin/grunt build && node server/server
It works fine

Any clues how to make this process faster or the

[2013-08-02 19:25] ericclemmons commented on #108
Can you let me know what's in your bower.json & your index.html (particularly the scripts & css) section?

I mean, not the source, but I just want to see the references to try & reproduce.

Truth be told, the optimization pass can take a while depending on the amount of images & files being parsed...

On Friday, August 2, 2013 at 1:58 PM, Mauricio Saglietto wrote:

[2013-08-02 19:47] msaglietto commented on #108
to bower.json I only added "angular-resource": "~1.0.7".

And to the index.html I added the navbar on the html and as scripts the angular-resource.js, two angular controllers and a service.

That helps?

[2013-08-02 19:55] ericclemmons commented on #108
It helps :) Basically, you're not doing anything crazy.

Allllright, let's see what I can figure out :)

[2013-08-05 20:59] msaglietto commented on #108
Could it be mongoose that take to much time to be installed from npm?

[2013-08-22 19:05] facultymatt opened #114 "[Discussion] Move bower_compenents into build folder by default"
Just a thought, if bower_components was located in the build folder by default, it would eliminate the need to copy them each time. Especially since these don't change often.

Of course, this would require not clearing out the entire build folder each time we build... and I kind of like the idea of being able to just delete the folder and rebuild... still, worth considering.

I mention this becaus

[2013-08-30 03:55] facultymatt opened #115 "Grunt server task throws errors, especially after a few repeated saves."
Getting tons of these errors lately, especially when editing css and saving often. Happens every so often when editing js files too.

Thoughts?

[code]

[2013-08-30 04:26] ericclemmons commented on #115
Any idea what your `ulimit` is set too?  The default on OSX is 256, and I increased mine to ~2k:

[2013-10-22 21:34] gavinjpotts commented on #108
@ericclemmons did you ever work out a way around this when it's a problem? We are having the same issue with production-level builds (when it minifies, etc). Is there anyway to lower the build time by doing something before-hand locally?

[2013-10-22 21:37] facultymatt commented on #108
We're going to need to
- run `foreman start` which will simulate the build heroku does.
- commit the build folder to master 'gasp'
- change the procfile to just start the app.

[2013-10-23 03:22] ericclemmons commented on #108
Turns out that just having `.npmignore` (with the build folder removed) seems to work well!  Also, I'm moving this to the https://github.com/genesis/ org with several updates!

[2013-10-23 13:30] facultymatt commented on #108
Why is that, aren't you already ignoring `node_modules` in gitignore? How does `.npmignore` make the minify process any quicker - this is whats causing the timeout for us - since there's a lot of JS the minify process takes wayyyyy too long. More than the 60 seconds allowed by heroku.

A colleague suggested getting around the by running `heroku run bash` which gives you command line access to then

[2013-10-23 13:56] ericclemmons commented on #108
`.npmignore` is treated differently from `.gitignore` when present and running the command `npm pack`, which is how Nodejitsu does deployments.  Versioning the build folder is totally fine, IMO.

[2013-10-25 07:13] matthias opened #117 "Coffescript for Server code"
If you update grunt-express-server to ~0.4.0 you could use coffeescript also for server side code

@see https://github.com/rehno-lindeque/grunt-express-server/commit/33171d6f7d06f9c3b7426e3d81e206fd48b24bf0

[code]

[2013-10-25 13:52] ericclemmons commented on #117
Man, you're right.  I've spent so much time on https://github.com/genesis/wordpress that this project is in need of updates from my other projects :(